@model PARiConnect.MVCApp.ViewModels.DynamicFormViewModel

        <form class="form-login" asp-controller="@(Model.Settings.FormController)" asp-action="@(Model.Settings.FormAction)">
        <div class="container-fluid">
            <div class="form-row">
                @foreach (var input in Model.Inputs)
                {  

                <div class="form-group mb-2 @(!String.IsNullOrEmpty(input.Class) ? input.Class : Model.Settings.Columns)">
                    @if(Model.Settings.Labels){      
                        <label asp-for="@input.Id">@input.Label</label>                   
                    } 
                    <div class="input-group">
                        @if(!String.IsNullOrEmpty(input.PrePendIcon)){
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-@(input.PrePendIcon)" aria-hidden="true"></i>
                                </span>
                            </div>
                        }                        
                        @if (input.Type == "text")
                        { 
                            <input 
                                id="@input.Id" 
                                type="@input.Type" 
                                class="form-control" 
                                name="@input.Id" 
                                placeholder="@input.Placeholder"
                                asp-for="@input.Id"
                                data-val="@(input.Validation ? "true" : "false")"
                                data-val-required="@input.ValidationRequiredMessage"
                                value=""
                            />
                        }
                        else if (input.Type == "email")
                        {
                            <input 
                                id="@input.Id" 
                                type="@input.Type" 
                                class="form-control" 
                                name="@input.Id" 
                                placeholder="@input.Placeholder"
                                asp-for="@input.Id"
                                data-val="@(input.Validation ? "true" : "false")"
                                data-val-email="@input.ValidationEmailMessage" 
                                data-val-required="@input.ValidationRequiredMessage"
                                value=""
                            />
                            
                        } 
                        else if (input.Type == "date")
                        {
                            <input 
                                id="@input.Id" 
                                type="@input.Type" 
                                class="form-control" 
                                name="@input.Id" 
                                placeholder="@input.Placeholder"
                                asp-for="@input.Id"
                                data-val="@(input.Validation ? "true" : "false")"
                                data-val-date="@input.ValidationDateMessage" 
                                data-val-required="@input.ValidationRequiredMessage"
                                value=""
                            />
                            
                        }  
                        else if (input.Type == "number")
                        {
                            <input 
                                id="@input.Id" 
                                type="@input.Type" 
                                class="form-control" 
                                name="@input.Id" 
                                min="@input.Min"
                                max="@input.Max"
                                placeholder="@input.Placeholder"
                                asp-for="@input.Id"
                                data-val="@(input.Validation ? "true" : "false")"
                                data-val-number="@input.ValidationNumberMessage" 
                                value=""
                            />
                            
                        }                         
                        else if (input.Type == "password")
                        {

                                <input 
                                    id="@input.Id" 
                                    type="@input.Type" 
                                    class="form-control" 
                                    name="@input.Id"
                                    asp-for="@input.Id"   />
                    
                        } 
                        else if (input.Type == "select")
                        {

                            <select 
                                id="@(input.Id)Id" 
                                asp-for="@(input.Id)Id" 
                                class="form-control" 
                                name="@(input.Id)Id" 
                                >
                                    @foreach (var option in input.Options)
                                    {  
                                    <option value="@option.Key">@option.Value</option>
                                    }
                            </select> 
                       
                        }  
                    </div>
                </div>
                }
            </div>
            <div class="row">
                <div class="col-12">
                    <div asp-validation-summary="All" class="form-validation"></div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn  btn-outline-primary btn-block">@(Model.Settings.FormSubmitText)</button>
                </div>
                
            </div>
            </div>
        </form>
