@model PARiConnect.MVCApp.ViewModels.InventoryUseListViewModel

<div class="container popover-container">
    <div class="row popover-header">
        <div class="col-6">
            Assessment
        </div>
        <div class="col-6 text-center">
            Non-Allocated Uses
        </div>
    </div>
    <div class="scrollbar"  id="style-4">
      @foreach (var invUseList in Model.InventoryUseList)
    {   
    <div class="row popover-row p-2">
        <div class="col-12">
            <span class="popover-row-header">@invUseList.ProductName</span>
        </div>
         @foreach (var invUse in invUseList.InventoryUses)
            { 
            <div class="col-8 pl-4">
                <span class="@(invUse.Uses < Model.InventoryLowThreshold ? "text-danger" : "")">@invUse.Name</span>
            </div>
            <div class="@(invUse.Uses < Model.InventoryLowThreshold ? "text-danger" : "") col-4 text-center">
                <span>@invUse.Uses</span>
            </div>
            }
    </div>
    } 
    </div>
    <div class="popover-footer p-2">
        <div class="text-center">
            <button class="btn btn-outline-primary">Distribute Uses</button>
        </div>        
    </div>
</div>




