@model PARiConnect.MVCApp.ViewModels.HomeIndexViewModel
<table class="table table-hover sortable w-100 tablesorter">
    <thead class="table-header">
        <tr class="table-row">
            <th class="table-row-start name-header sorter-last-name">
                <div class="header-text mb-1 ">Client 
                     <div class="float-right">
                        <button id="firstLastToggle" class="firstLastToggle btn btn-sm btn-link text-muted table-toggle">
                            <span class="first">F</span>
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            <span class="last">L</span>
                        </button>
                    </div>
                </div>
                <div class="search-toggle" style="display: none;">
                    <input type="text" />
                </div>
            </th>
            <th class="assessment">
                <div class="header-text mb-1">Assessment</div>
                <div class="search-toggle" style="display: none;">
                    <input type="text" />
                </div>
            </th>
            <th class="updated">
                <div class="header-text mb-1">Updated</div>
                <div class="search-toggle" style="display: none;">
                    <input type="text" />
                </div>
            </th>
            <th class="status">  
                <div class="header-text mb-1">Status</div>
                <div class="search-toggle" style="display: none;">
                    <input type="text" />
                </div>
            </th>
            <th class="table-row-end">
                <div class="mb-1">
                    <div class="float-right">
                        <button class="searchToggle btn btn-sm btn-link text-muted table-toggle">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                        
                    </div>
                </div>
                <div></div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="searchable">

    @foreach (var assessmentReview in Model.AssessmentReview)
    {
        <tr class="table-row">
            <td class="@(assessmentReview.Scored ? "table-row-start-completed" : "table-row-start-notcompleted")">
                <span class="table-row-header">@assessmentReview.ClientName</span>
            </td>
            <td>@assessmentReview.Assessment</td>
            <td>@assessmentReview.Updated</td>
            <td>@assessmentReview.Status</td>
            <td class="table-row-end">
                <button class="btn btn-sm btn-outline-success"><i class="fa fa-file-text-o" aria-hidden="true"></i> Run Report</button>
                <button class="btn btn-sm btn-outline-primary"><i class="fa fa-search" aria-hidden="true"></i> View Responses</button>
            </td>
        </tr>
    }
    </tbody>
</table>


