@model PARiConnect.MVCApp.ViewModels.ClientViewModel
<div class="row mt-3">
    <div class="col-8"><input type="text" class="search-input form-control" id="search" placeholder="Search by client, client id, email, clinician, or group..."></div>
    <div class="col-4 "> 
        <div class="dropdown float-right">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-archive" aria-hidden="true"></i>
                Archive Client
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>        
        <button class="btn btn-outline-primary btn-sm mr-2 float-right" type="button" data-toggle="modal" data-target="#dynFormModal">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Add Client
        </button>
    </div>
</div>
<table class="table table-hover sortable w-100 tablesorter">
    <thead class="table-header">
        <tr class="table-row">
            <th class="table-row-start ">
                <input class="ml-2 clientCheckAll" type="checkbox" value="" id="clientCheckAll" />
            </th>
            <th class="client name-header sorter-last-name">
                <div class="header-text mb-1">Client
                    <div class="float-right">
                        <button id="firstLastToggle" class="firstLastToggle btn btn-sm btn-link text-muted table-toggle">
                            <span class="first">F</span>
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            <span class="last">L</span>
                        </button>
                    </div>
                </div>
            </th>
            <th class="clientId">
                <div class="header-text mb-1">Client Id</div>
            </th>
            <th class="email">
                <div class="header-text mb-1">Email</div>
            </th>

            <th class="clinician">  
                <div class="header-text mb-1">Clinician</div>
            </th>
            <th class="group table-row-end">  
                <div class="header-text mb-1">Group</div>
            </th>
        </tr>
    </thead>
    <tbody class="searchable">
    
    @foreach (var client in Model.Clients)
    {
         <tr class="table-row @(client.IsUser ? "" : "d-none") @client.ClinicianId @client.GroupId">
            <td class="table-row-start">
                <div class="form-check">
                    <input class="form-check-input clientCheck" type="checkbox" value="" id="clientCheck">
                </div>
            </td>
            <td class="">
                <span class="table-row-header">@client.ClientName</span>
            </td>
            <td>@client.ClientId</td>
            <td>@client.Email</td>
            <td >
                @client.Clinician
            </td>
            <td class="table-row-end">
                @client.GroupName
            </td>
        </tr>
    }
    </tbody>
</table>