@model PARiConnect.MVCApp.ViewModels.DynamicFormViewModel   

<h1>Dynamic Form</h1>

<form class="form-login" asp-action="">
<div class="container-fluid">
    <div class="row">
        @foreach (var input in Model.Inputs)
        {      
        <div class="input-group m-2 col">
                @if (input.Type == "")
                {

                }
                else if (input.Type == "email")
                {
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input 
                        id="@input.Id" 
                        type="@input.Type" 
                        class="form-control" 
                        width="@(input.Width)px"  
                        name="@input.Label" 
                        placeholder="@input.Placeholder"
                        data-val="@(input.Validation ? "true" : "false")"
                        data-val-email="@input.ValidationEmailMessage" 
                        data-val-required="@input.ValidationRequiredMessage"
                        value=""
                    />
                    
                } 
                else if (input.Type == "password")
                {
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                        <input id="@input.Id" type="@input.Type" class="form-control" width="@(input.Width)px"  name="@input.Label"   />
            
                } 
        </div>
        }
    </div>
<div asp-validation-summary="All" class="form-validation"></div>
 <div class="my-4">
    <button type="submit" class="btn  btn-outline-primary btn-block">Login</button>
</div>
</div>

</form>

